body {
    margin: 0;
    background: #323032;
    color: #323032;
    font-family: 'Changa', sans-serif;
}

* {
    transition: 0.1s ease-in-out;
    z-index: 1;
    box-sizing: border-box;
}

tt {
    font-family: 'Ubuntu Mono';
}

.prompt {
    position: fixed;
    width: 400px;
    background: #F8FDFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 5 !important;
}

.prompt .prompt-body {
    text-align: center;
}

.prompt .prompt-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.prompt button {
    position: relative;
    margin: 2%;
    border-radius: 3px;
    border: 2px solid #686c6d;
    padding: 4px;
    font-size: 16px;
    background: #686c6d;
    color: #F8FDFF;
    flex: 1;
}

.prompt button:hover {
    background: #11779F;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: rgb(60,60,60, 0.9);
    z-index: 2 !important;
}

#login-panel {
    position: absolute;
    width: 400px;
    background: #F8FDFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#login-panel h1{
    color: #323032;
    font-size: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#login-panel .join-input {
    position: relative;
    display: block;
    width: 275px;
    margin: 0 auto;
    text-align: left;
}

#login-panel .join-input input{
    float: right;
    line-height: 18px;
}

#login-panel button {
    position: relative;
    margin: 1%;
    border-radius: 3px;
    border: 2px solid #686c6d;
    padding: 4px;
    width: 48%;
    font-size: 16px;
    background: #686c6d;
    color: #F8FDFF;
}

#login-panel #join-enter {
    float: left;
}

#login-panel #error-message {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
    color: #ff4d4d;
}

#login-panel #join-enter:hover {
    background: #B32728;
}

#login-panel #join-create:hover {
    background: #11779F;
}

@keyframes blinkerror {
    50% {
        border-color: #FF0000;
    }
}

#login-panel .anim-blinkerror {
    animation-duration: 250ms;
    animation-timing-function: step-start;
    animation-iteration-count: 3;
    animation-name: blinkerror;
}

button {
    cursor: pointer;
    font-family: 'Changa', sans-serif;
    border-radius: 3px !important;
    border-style: solid;
}

#room-panel {
    position: absolute;
    width: 80%;
    height: 70%;
    min-width: 600px;
    min-height: 300px;
    background: #F8FDFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
}

#room-panel #room-title {
    color: #323032;
    font-size: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: pre-wrap;
}

#room-panel #room-board {
    float: left;
    width: calc(80% - 40px);
    height: calc(100% - 40px);
    margin: 20px;
    border: medium solid;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

#room-panel #room-board #room-board-top {
    position: relative;
    width: 100%;
    min-height: 0px;
    flex: 1;
    overflow: hidden;
}

#room-panel #room-board #room-board-top #room-display {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#room-panel #room-board #room-board-top #room-input-result {
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 48px;
    max-height: 100%;
    overflow-y: auto;
    padding: 16px 16px 0px 16px;
    border-radius: 12px 12px 0px 0px;
    background-color: rgb(60,60,60, 0.9);
    color: #F8FDFF;
    z-index: 2;
    transform: translateY(100%);
    visibility: hidden;
    transition: all 0.5s ease-out;
}

#room-panel #room-board #room-board-top .show-result {
    transform: translateY(0%) !important;
    visibility: visible !important;
}

#room-panel #room-board #room-board-top #room-input-result #room-close-result {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #686c6d;
}

#room-panel #room-board #room-board-top #room-input-result #room-close-result:hover {
    background-color: #B32728;
}

#room-panel #room-board #room-board-top #room-input-result .room-close-result-x {
    position: absolute;
    background-color: #F8FDFF;
    width: 80%;
    height: 10%;
    top: 45%;
    left: 10%;
    border-radius: 50%;
}

#room-panel .room-link {
    text-decoration: underline;
    cursor: pointer;
}

#room-panel #room-input-user {
    font-family: 'Ubuntu Mono';
    font-size: 16px;
    width: 100%;
}

#room-panel #room-side {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#room-panel #room-side h3 {
    margin: 0;
    padding: 0;
}

#room-panel #room-side .room-side-container {
    overflow: auto;
    border: medium solid;
    margin: 0px 10px 10px 0px;
    flex: 1;
}

#room-panel #room-side .room-side-list {
    height: 100%;
    font-family: 'Ubuntu Mono';
    font-weight: bold;
    font-size: 16px;
    list-style-type: circle;
    overflow: auto;
    padding-left: 1em;
    margin: 0;
}

@counter-style counter-player {
    system: cyclic;
    symbols: "\25B8";
    suffix: " ";
}

#room-panel #room-side #room-players {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 1em;
    text-indent: -1em;
}

#room-panel #room-side #room-players li::before {
    content: "\25B8";
}

#room-panel #room-side #room-spectators {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 1em;
    text-indent: -1em;
}

#room-panel #room-side #room-spectators li::before {
    content: "\25B9";
}

#room-panel #room-side .user-me {
    color: #008000;
}
