body {
    margin: 0;
    background: #323032;
    color: #323032;
    font-family: 'Changa', sans-serif;
}

* {
    transition: 0.1s ease-in-out;
    z-index: 1;
}

.above {
    z-index: 3 !important;
}

#server-status {
    position: fixed;
    display: none;
    width: 400px;
    background: #F8FDFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 10px;
}

#server-status h3 {
    text-align: center;
}

#server-status button {
    position: relative;
    margin: 2%;
    border-radius: 3px;
    border: 2px solid #686c6d;
    box-sizing: border-box;
    padding: 4px;
    width: 96%;
    font-size: 16px;
    background: #686c6d;
    color: #F8FDFF;
}

#server-status button:hover {
    background: #11779F;
}

#overlay {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgb(60,60,60, 0.9);
    z-index: 2 !important;
}

#login-panel {
    position: absolute;
    width: 400px;
    background: #F8FDFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#login-panel h1{
    color: #323032;
    font-size: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#login-panel .join-input {
    position: relative;
    display: block;
    width: 275px;
    margin: 0 auto;
    text-align: left;
}

#login-panel .join-input input{
    float: right;
    line-height: 18px;
}

#login-panel button {
    position: relative;
    margin: 1%;
    border-radius: 3px;
    border: 2px solid #686c6d;
    box-sizing: border-box;
    padding: 4px;
    width: 48%;
    font-size: 16px;
    background: #686c6d;
    color: #F8FDFF;
}

#login-panel #join-enter {
    float: left;
}

#login-panel #error-message {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
    color: #ff4d4d;
}

#login-panel #join-enter:hover {
    background: #B32728;
}

#login-panel #join-create:hover {
    background: #11779F;
}

button {
    cursor: pointer;
    font-family: 'Changa', sans-serif;
    border-radius: 3px !important;
    border-style: solid;
}

#room-panel {
    position: absolute;
    width: 600px;
    background: #F8FDFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#room-board {
    float: left;
    width: 400px;
    height: 800px;
    padding: 20px;
}

.room-side {
}

#room-title {
    color: #323032;
    font-size: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#room-players {
    font-family: 'Ubuntu Mono';
    font-weight: bold;
    font-size: 16px;
    list-style-type: circle;
}

#user-me {
    color: #008000;
    list-style-type: disc;
}
